.hasab {
float: left;
margin: right 25px;
max-width: 450px;
}
body{
    width: 960px;
    background-color:#d2691e;
    margin: auto;
}
h1{
    text-decoration:2px underline #a52a2a ;
    
}
ul li{
    display: inline-block;
    min-width: 50px;
    color: white;
    padding: 6px;
    border-left: #a52a2a;
    list-style: none;
}
h2{
    width: 96%;
    background-color: #cd853f;
    font-style: italic;
}
.kep{
    width: 100px;
    border: 2px solid #a52a2a;
}
p{
    text-align: justify;
}